@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?j97nwn');
  src:  url('fonts/icomoon.eot?j97nwn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?j97nwn') format('truetype'),
    url('fonts/icomoon.woff?j97nwn') format('woff'),
    url('fonts/icomoon.svg?j97nwn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-a0"]:before, [class*=" icon-a0"]:before {
  content: "?";
}

[class^="icon-m0"]:before, [class*=" icon-m0"]:before {
  content: "M";
}

.icon-baka::before {
  content: "⑨";
}

.icon-alice:before {
  content: "\e900";
}
.icon-artful_sacrifice:before {
  content: "\e901";
}
.icon-asteroid_belt:before {
  content: "\e902";
}
.icon-big_spider_face:before {
  content: "\e903";
}
.icon-bright_bitter_wheel:before {
  content: "\e904";
}
.icon-bury_in_lake:before {
  content: "\e905";
}
.icon-centered_flow:before {
  content: "\e906";
}
.icon-demon_fox_face:before {
  content: "\e907";
}
.icon-demon_seal_circle:before {
  content: "\e908";
}
.icon-double_bound:before {
  content: "\e909";
}
.icon-dream_born:before {
  content: "\e90a";
}
.icon-dream_seal:before {
  content: "\e90b";
}
.icon-earth_light_ray:before {
  content: "\e90c";
}
.icon-emerald_megalopolis:before {
  content: "\e90d";
}
.icon-exorcism_charm_dance:before {
  content: "\e90e";
}
.icon-fantasy_moon:before {
  content: "\e90f";
}
.icon-fantasy_one:before {
  content: "\e910";
}
.icon-future_never_survive:before {
  content: "\e911";
}
.icon-ghost_face:before {
  content: "\e912";
}
.icon-graciousness_maze:before {
  content: "\e913";
}
.icon-hakurei_phantom:before {
  content: "\e914";
}
.icon-holland_doll:before {
  content: "\e915";
}
.icon-Hot_man_face:before {
  content: "\e916";
}
.icon-illusion_seeker:before {
  content: "\e917";
}
.icon-infrared_moon:before {
  content: "\e918";
}
.icon-invisible_full_moon:before {
  content: "\e919";
}
.icon-invisible_half_moon:before {
  content: "\e91a";
}
.icon-jellyfish_princess:before {
  content: "\e91b";
}
.icon-kokoro:before {
  content: "\e91c";
}
.icon-kokoro_roulette:before {
  content: "\e91d";
}
.icon-kyoto_doll:before {
  content: "\e91e";
}
.icon-lion_face:before {
  content: "\e91f";
}
.icon-little_legion:before {
  content: "\e920";
}
.icon-london_doll:before {
  content: "\e921";
}
.icon-long_wall_face:before {
  content: "\e922";
}
.icon-luna_megalopolis:before {
  content: "\e923";
}
.icon-luna_wave:before {
  content: "\e924";
}
.icon-lunatic_red_eyes:before {
  content: "\e925";
}
.icon-marisa:before {
  content: "\e926";
}
.icon-masked_heart_dance:before {
  content: "\e927";
}
.icon-master_spark:before {
  content: "\e928";
}
.icon-mind_stopper:before {
  content: "\e929";
}
.icon-orleans_doll:before {
  content: "\e92a";
}
.icon-orrerys_sun:before {
  content: "\e92b";
}
.icon-pachi:before {
  content: "\e92c";
}
.icon-penglai_doll:before {
  content: "\e92d";
}
.icon-philosophers_stone:before {
  content: "\e92e";
}
.icon-reimu:before {
  content: "\e92f";
}
.icon-reisen:before {
  content: "\e930";
}
.icon-return_inanimateness:before {
  content: "\e931";
}
.icon-rocket_in_mist:before {
  content: "\e932";
}
.icon-royal_lare:before {
  content: "\e933";
}
.icon-russia_doll:before {
  content: "\e934";
}
.icon-shanghai_doll:before {
  content: "\e935";
}
.icon-silent_selene:before {
  content: "\e936";
}
.icon-silver_dragon:before {
  content: "\e937";
}
.icon-six_roots_clean:before {
  content: "\e938";
}
.icon-stardust_reverie:before {
  content: "\e939";
}
.icon-sylphy_horn:before {
  content: "\e93a";
}
.icon-taboo_wolf_face:before {
  content: "\e93b";
}
.icon-the_jade:before {
  content: "\e93c";
}
.icon-visionary_tuning:before {
  content: "\e93d";
}
.icon-worryingly:before {
  content: "\e93e";
}
.icon-xizang_doll:before {
  content: "\e93f";
}
.icon-yinyang_sanhua:before {
  content: "\e940";
}
.icon-youmu:before {
  content: "\e941";
}
.icon-ahabs_opinion:before {
  content: "\e942";
}
.icon-microlithic_fish:before {
  content: "\e943";
}
.icon-mimicry_cat_pendant:before {
  content: "\e944";
}
.icon-miyanos_bottle:before {
  content: "\e945";
}
.icon-nodas_hat:before {
  content: "\e946";
}
.icon-wanderlust:before {
  content: "\e947";
}
.icon-circular_fan:before {
  content: "\e948";
}
.icon-empty:before {
  content: "\e949";
}
.icon-gongonier:before {
  content: "\e94a";
}
.icon-hd_camera:before {
  content: "\e94b";
}
.icon-louguanjian:before {
  content: "\e94c";
}
.icon-mini_bagua_stove:before {
  content: "\e94d";
}
.icon-mirror_of_pear:before {
  content: "\e94e";
}
.icon-repentance_rod:before {
  content: "\e94f";
}
.icon-sunshade:before {
  content: "\e950";
}
.icon-sword_of_feixiang:before {
  content: "\e951";
}
.icon-banana:before {
  content: "\e952";
}
.icon-doubtful_potion:before {
  content: "\e953";
}
.icon-gift_from_ergen:before {
  content: "\e954";
}
.icon-good_corn:before {
  content: "\e955";
}
.icon-heart_fire_of_grace:before {
  content: "\e956";
}
.icon-ace:before {
  content: "\e957";
}
.icon-amulet_of_full_moon:before {
  content: "\e958";
}
.icon-big_bugle:before {
  content: "\e959";
}
.icon-bird_wine:before {
  content: "\e95a";
}
.icon-blade_of_yellow_spring:before {
  content: "\e95b";
}
.icon-bottle_of_stars:before {
  content: "\e95c";
}
.icon-bronze_mirror:before {
  content: "\e95d";
}
.icon-burning_seashore_flower:before {
  content: "\e95e";
}
.icon-carnyx:before {
  content: "\e95f";
}
.icon-compass_cat:before {
  content: "\e960";
}
.icon-conch_shell:before {
  content: "\e961";
}
.icon-corvis_feathers:before {
  content: "\e962";
}
.icon-crown_of_thorns:before {
  content: "\e963";
}
.icon-cursed_wind_chimes:before {
  content: "\e964";
}
.icon-dimensional_pocket:before {
  content: "\e965";
}
.icon-earthy_spider_wine:before {
  content: "\e966";
}
.icon-false_hammer:before {
  content: "\e967";
}
.icon-fish_stone:before {
  content: "\e968";
}
.icon-flip_flops:before {
  content: "\e969";
}
.icon-fluorescent_zanthoxylum:before {
  content: "\e96a";
}
.icon-free_eagle:before {
  content: "\e96b";
}
.icon-frozen_frog:before {
  content: "\e96c";
}
.icon-ghost_lantern:before {
  content: "\e96d";
}
.icon-human_soul_lamp:before {
  content: "\e96e";
}
.icon-ice_scale:before {
  content: "\e96f";
}
.icon-JupiterACL300:before {
  content: "\e970";
}
.icon-large_roll_of_bandages:before {
  content: "\e971";
}
.icon-light_bulb:before {
  content: "\e972";
}
.icon-magic_dart:before {
  content: "\e973";
}
.icon-midnight_cloak:before {
  content: "\e974";
}
.icon-mimosa:before {
  content: "\e975";
}
.icon-normal_stone:before {
  content: "\e976";
}
.icon-paper_windmill:before {
  content: "\e977";
}
.icon-patchoulis_ribbon:before {
  content: "\e978";
}
.icon-pickled_radish:before {
  content: "\e979";
}
.icon-portable_money_box:before {
  content: "\e97a";
}
.icon-red_and_white_scarf:before {
  content: "\e97b";
}
.icon-sakura_tea:before {
  content: "\e97c";
}
.icon-seal_needle:before {
  content: "\e97d";
}
.icon-shimenawa:before {
  content: "\e97e";
}
.icon-shy_rabbit:before {
  content: "\e97f";
}
.icon-skyrocket:before {
  content: "\e980";
}
.icon-sport_shoes:before {
  content: "\e981";
}
.icon-sticking_plaster:before {
  content: "\e982";
}
.icon-sundial:before {
  content: "\e983";
}
.icon-terrible_ring:before {
  content: "\e984";
}
.icon-toolbox:before {
  content: "\e985";
}
.icon-trolley:before {
  content: "\e986";
}
.icon-vampires_old_tooth:before {
  content: "\e987";
}
.icon-barrier:before {
  content: "\e988";
}
.icon-bleed:before {
  content: "\e989";
}
.icon-Bright_Bitter_Wheel:before {
  content: "\e98a";
}
.icon-burning:before {
  content: "\e98b";
}
.icon-cursed_wind:before {
  content: "\e98c";
}
.icon-flow:before {
  content: "\e98d";
}
.icon-foresee:before {
  content: "\e98e";
}
.icon-hypodynamic:before {
  content: "\e98f";
}
.icon-in_treatment:before {
  content: "\e990";
}
.icon-interim_barrier:before {
  content: "\e991";
}
.icon-meditation_slash:before {
  content: "\e992";
}
.icon-prophesy:before {
  content: "\e993";
}
.icon-seal_needle1:before {
  content: "\e994";
}
.icon-slow_power:before {
  content: "\e995";
}
.icon-star:before {
  content: "\e996";
}
.icon-strength_of_wine:before {
  content: "\e997";
}
.icon-tardy:before {
  content: "\e998";
}
.icon-telepathism:before {
  content: "\e999";
}
.icon-tired:before {
  content: "\e99a";
}
.icon-yanfan:before {
  content: "\e99b";
}
.icon-aim:before {
  content: "\e99c";
}
.icon-attack:before {
  content: "\e99d";
}
.icon-back:before {
  content: "\e99e";
}
.icon-chance:before {
  content: "\e99f";
}
.icon-coin:before {
  content: "\e9a0";
}
.icon-consumables:before {
  content: "\e9a1";
}
.icon-data:before {
  content: "\e9a2";
}
.icon-equipment:before {
  content: "\e9a3";
}
.icon-health:before {
  content: "\e9a4";
}
.icon-left_card:before {
  content: "\e9a5";
}
.icon-level:before {
  content: "\e9a6";
}
.icon-logo:before {
  content: "\e9a7";
  color: #f00;
}
.icon-maxHealth:before {
  content: "\e9a8";
}
.icon-outRound:before {
  content: "\e9a9";
  color: #777;
}
.icon-power:before {
  content: "\e9aa";
}
.icon-select:before {
  content: "\e9ab";
}
.icon-speed:before {
  content: "\e9ac";
}
.icon-star1:before {
  content: "\e9ad";
  color: #ffff9b;
}
.icon-sugar:before {
  content: "\e9ae";
}
